h1 {
  color: fuchsia;
}

h2 {
  color: chartreuse;
}

h2 {
  color: red;
}

h2:hover {
  transform: rotate(2deg);
  color: yellow;
  size: 30px;
}

.image {
  position: relative;
  width: 4px;
  height: 4px;
}

.image:hover {
  position: relative;
  width: 1000px;
  height: 1000px;
}
