h1 {
  color: fuchsia;
}

h2 {
  color: chartreuse;
}

h2 {
  color: red;
}

h2:hover {
  transform: rotate(2deg);
  color: yellow;
  size: 30px;
}

image {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

image:hover {
  visibility: visible;
  width: 200px;
  height: 200px;
}
